<div *ngIf="this.data.data.repositorySelected" class="row repo-details">
  <div class="col-12">
    <h2>{{this.data.repositoryDetail.name}}</h2>
    <hr>
  </div>
  <div class="col-4 text-center">
    <!-- fork icon -->
    <svg class="octicon octicon-repo-forked v-align-text-bottom" viewBox="0 0 10 16" version="1.1" width="10" height="16"
      aria-hidden="true">
      <path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
    </svg>: <a href="https://www.github.com/{{this.data.repositoryDetail.full_name}}/network/members" target="_blank">{{this.data.repositoryDetail.forks_count}}</a>
  </div>
  <div class="col-4 text-center">
    <!-- star icon -->
    <svg class="octicon octicon-star v-align-text-bottom" viewBox="0 0 14 16" version="1.1" width="14" height="16"
      aria-hidden="true">
      <path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path>
    </svg>: <a href="https://www.github.com/{{this.data.repositoryDetail.full_name}}/stargazers" target="_blank">{{this.data.repositoryDetail.stargazers_count}}</a>
  </div>
  <div class="col-4 text-center">
    <!-- watcher icon -->
    <svg class="octicon octicon-eye v-align-text-bottom" viewBox="0 0 16 16" version="1.1" width="16" height="16"
      aria-hidden="true">
      <path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
    </svg>: <a href="https://github.com/{{this.data.repositoryDetail.full_name}}/watchers" target="_blank">{{this.data.repositoryDetail.watchers}}</a>
  </div>
  <div class="col-12">
    <hr>
  </div>
  <div class="col-12">
    Name: <a href="{{this.data.repositoryDetail.html_url}}" target="_blank">{{this.data.repositoryDetail.full_name}}</a>
  </div>
  <div class="col-12">
    Description: {{this.data.repositoryDetail.description}}
  </div>
  <div *ngIf="this.data.data.loadGif" class="col-12">
    <app-loading-gif></app-loading-gif>
  </div>
  <ng-container *ngIf="this.data.data.showRepo">
    <div *ngIf="!this.data.data.showIssues" class="col-12 mt-1em">
      There are no issues for this repository
    </div>
    <div *ngIf="this.data.data.showIssues" class="col-12 mt-1em">
      <app-pie-chart></app-pie-chart>
    </div>
    <div *ngIf="this.data.data.showIssues" class="col-12">
      <hr>
    </div>
    <div class="col-4">
      <app-issues-tab [ngClass]="this.data.state === 'all' ? 'active' : 'notActive'" [tabSelect]="allIssues" (tabShown)="this.data.selectTab($event)"></app-issues-tab>
    </div>
    <div class="col-4">
      <app-issues-tab [ngClass]="this.data.state === 'open' ? 'active' : 'notActive'"[tabSelect]="openIssues" (tabShown)="this.data.selectTab($event)" (click)="getOpenIssues()"></app-issues-tab>
    </div>
    <div class="col-4">
      <app-issues-tab [ngClass]="this.data.state === 'closed' ? 'active' : 'notActive'"[tabSelect]="closedIssues" (tabShown)="this.data.selectTab($event)" (click)="getClosedIssues()"></app-issues-tab>
    </div>
    <div *ngIf="this.data.data.showIssues" class="col-12">
      <hr>
    </div>
    <div *ngIf="this.data.data.showIssues" class="col-12 issue mt-1em">
      <ul>
        <ng-container *ngFor="let issue of this.data.selectedIssues; let i = index;">
          <li [ngClass]="i >= this.data.issuesCount && i < (this.data.issuesCount + 30) ? 'show-item' : 'hide-item'">{{i
            + 1}}.&nbsp;<a href="{{issue.html_url}}" target="_blank">{{issue.title}}</a></li>
        </ng-container>
      </ul>
      <button *ngIf="previous()" (click)="previousIssues()">{{previous()}}</button>
      <button *ngIf="next()" (click)="nextIssues()">{{next()}}</button>
    </div>
  </ng-container>
</div>
