button {
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style: none;
}

.active {
  font-weight: 600;
}

.mt-1em {
  margin-top: 1em;
}

.hide-item {
  display: none;
}

.show-item {
  display: block;
}

.tab:hover {
  cursor: pointer;
}
