<div *ngIf="this.data.data.openIssues > 0 || this.data.data.closedIssues > 0" style="display: block">
  <canvas baseChart [data]="[this.data.data.openIssues, this.data.data.closedIssues]" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
</div>
