<main class="cover">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <app-header class="header"></app-header>
      </div>
      <div class="col-12 col-md-8">
        <app-search-form class="search"></app-search-form>
      </div>
      <div *ngIf="this.data.data.showComponent" class="col-12 col-md-7">
        <app-repo-details></app-repo-details>
      </div>
      <div class="col-12 col-md-5">
        <app-results></app-results>
      </div>
    </div>
  </div>
</main>
