<div class="form-group row">
  <div class="col-12 col-md-9 pt30px">
      <input [(ngModel)]="searchQuery" type="text" class="search-field form-control d-inline-block" id="query"
      aria-describedby="queryGithub" placeholder="What would you like to search for?" (click)="clearForm()" (keydown)="searchByEnter($event)">
  </div>
  <div class="col-12 col-md-3 pt30px">
      <button type="submit" class="submit-btn btn btn-primary d-inline-block" (click)="search()">Search Now</button>
  </div> 
</div>
