.btn-primary {
    background-color: #86c7f3;
    border-color: #86c7f3;
}
.results {
    height: 300px;
    width: 100%;
    background-color: #fff;
    color: black;
    overflow: scroll;
}
.submit-btn {
    width: 100%;
}